{% extends "base.html" %}

{% block title %}使用者驗證{% endblock %}

{% block header_extends %}
{% endblock %} 

{% block content%}
	<hr class="my-4">
	<form method='post' style="text-align: center; margin-top: 100px" action="./authenticate">
		{% for choice in next_question %}
			<input type="radio" name="choice" id="choice{{ loop.index }}" value="{{ choice }}">
			<img src="{{ choice }}" for="choice{{ loop.index }}">
	    	<!-- <label for="choice{{ loop.index }}">{{ choice }}</label> -->
	    	<br>
	    {% endfor %}
	    <button type="submit">Submit</button>
	</form>
    <hr class="my-4">
{% endblock content%}