{% extends "base.html" %}

{% block title %}使用者驗證{% endblock %}

{% block header_extends %}
{% endblock %} 

{% block content%}
	<hr class="my-4">
	<form method='post' style="text-align: center; margin-top: 100px" action="./authenticate">
		{% for choice in next_question %}
			<div style="display: inline-block; width: 50%;">
				<input type="radio" name="choice" id="choice{{ loop.index }}" value="{{ choice }}">
				<!-- <img src="{{ choice }}" for="choice{{ loop.index }}"> -->
		    	<label for="choice{{ loop.index }}">{{ choice[0] }}, {{ choice[1] }}, {{ choice[2] }}</label>
		    	<br>
	    	</div>
	    {% endfor %}
	    <br><br>
	    <button type="submit">Submit</button>
	</form>
    <hr class="my-4">
{% endblock content%}